
#oasis-body{
  background-image: url("https://qph.cf2.quoracdn.net/main-qimg-21dc2239ce9c2f32488dfec2fae4f0a8-lq");
  color: white;
  padding: 20px
}

#jsong{
  background-color: rgba(0, 0, 0, 0.3);  
  padding: 20px
}

#jinfo{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px
}

#eminem{
  background-image: url("https://i.discogs.com/CaoiGVGRLciQXQ-ZDZhoWBZ7ZUmg_2wzc9LDaBK1BMI/rs:fit/g:sm/q:90/h:509/w:588/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTU5Mjcz/Mi0xMTY5NTQxNTQw/LmpwZWc.jpeg") ;
  color: orangered;  
}